@use './vars' as *;

//# IMPORT BOOTSTRAP
@import "bootstrap/scss/bootstrap";

a{
  color: currentColor;
  margin: 0;
  padding: 0;
  text-decoration: none ;
}

body{
  font-family: $font;
}

.container{
  max-width: 1250px;
}

img{
  max-width: 100%;
}